* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-container {
    background-color: #090502;
}

.letter {
    cursor: pointer;
}

.letter:hover {
    background-color: lightblue;
}

.image {
    border: solid 1px gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.video {
    border: solid 1px gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
    background-color: #727272;
    padding: 0;
    height: 10rem;
    border-top: 1px solid grey;
}

.footer p {
    margin: 0;
}

.alphabet {
    max-width: 100%;
}

.ueberuns {
    padding: 1rem 10rem;
}